.container{
  display: grid;
  background-color: #FFF;
  grid-template-columns: 10% 35% 40%;
  grid-template-rows: 10% 70%;
}
.logo img{
  width: 8rem;
  margin-right: 3rem;
  cursor: pointer;
}
.header{
  grid-column: 1 / 5;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header a{
  margin-right: 2rem;
  text-decoration: none;
  color: #000;
  letter-spacing: 1px;
  cursor: pointer;
}
.header a:nth-child(9), .header a:nth-child(10){
  color: #FE4400;
  margin-right: 0.3rem;
}
.header a:hover{
  color: #FE4400;
}
.header a span{
  cursor: auto;
}
.navSocial{
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  padding-top: 14rem;
}
.navSocial a{
  padding-bottom: 15px;
  color: #FE4400;
}
.logoIntro{
  grid-column: 2;
}
.logoIntro img{
  width: 35rem;
  margin-top: 6rem;
  margin-left: 14rem;
}
.sec{
  grid-column: 3;
  grid-row: 2;
  margin-top: 10rem;
  margin-left: 8rem;
}
.sec h3, .sec h1, .sec p, .sec .btnOrange{
  padding-bottom: 1.6rem;
}
.sec h3{
  font-size: 16px;
  letter-spacing: 2px;
}
.sec h1{
  color: #FE4400;
  font-size: 42px;
  font-weight: 600;
}
.sec p{
  font-size: 16px;
  letter-spacing: 2px;
}
 .sec .btnOrange{
  background-color: #FC6027;
  color: #FFF;
  padding: 20px 90px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: ease 0.4s;
}
.btnOrange:hover{
  background-color: #FE4400;
}
.btnDown{
  grid-column: 4;
}
.btnDown button{
  background-color: #4B4FA1;
  color: #FFF;
  border-radius: 50%;
  border: none;
  padding: 0.8rem;
  cursor: pointer;
  margin-top: 33rem;
  margin-left: 7rem;
}
/*


*/
