.container{
  display: grid;
  background-color: #FFF;
  grid-template-columns: 60px 220px auto;
  grid-template-rows: 80px;
}
.logo img{
  width: 8rem;
  margin-right: 3rem;
  cursor: pointer;
}
.header{
  grid-column: 1 / 4;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
.header a{
  margin-right: 2rem;
  text-decoration: none;
  color: #000;
  letter-spacing: 1px;
  cursor: pointer;
}
.header a:nth-child(9), .header a:nth-child(10){
  color: #FE4400;
  margin-right: 0.3rem;
}
.header a:hover{
  color: #FE4400;
}
.header a span{
  cursor: auto;
}

.navSocial{
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  padding-top: 14rem;
}
.navSocial a{
  padding-bottom: 15px;
  color: #FE4400;
}

.logoIntro{
  grid-column: 2;
  width: 35rem;
  padding-top: 6rem;
  padding-right: 1rem;
}

.sec{
  grid-column: 3;
  grid-row: 2;
}
.sec h3{
  position: relative;
  font-size: 16px;
  letter-spacing: 2px;
  left: 37rem;
  bottom: 20rem;
}
.sec h1{
  position: relative;
  color: #FE4400;
  font-size: 42px;
  font-weight: 600;
  bottom: 19.5rem;
  left: 37rem;
}
.sec p{
  position: relative;
  font-size: 16px;
  letter-spacing: 2px;
  left: 37rem;
  bottom: 18.5rem;
}
 .sec .btnOrange{
  position: relative;
  background-color: #FC6027;
  color: #FFF;
  padding: 20px 90px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
  bottom: 17rem;
  left: 37rem;
  border: none;
  cursor: pointer;
  transition: ease 0.4s;
}
.btnOrange:hover{
  background-color: #FE4400;
}
.sec .btnDown{
  position: relative;
  background-color: #4B4FA1;
  color: #FFF;
  border-radius: 50%;
  border: none;
  padding: 0.8rem;
  cursor: pointer;
  left: 55rem;
  bottom: 7rem;
}
/*.container{
  display: flex;
  align-items: center;
  justify-content: center;
}






*/
