
/*HomeParceiros*/
.containerParceiros{
  background-color: #303033;
  color: #FFF;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 43rem;
  padding-top: 40px;
  height: 35vh;
}
.conteudo p, .conteudo h1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 1px;
}
.conteudo p{
  font-size: 1rem;
  margin-bottom: 1rem;
  bottom: 3rem;
}
.conteudo h1{
  bottom: 3rem;
}
.circles span{
  position: absolute;
  font-size: 3rem;
  letter-spacing: 1rem;
  color: #39393B;
}
.circles span:nth-child(1){
  bottom: 17.5rem;
}
.circles span:nth-child(2){
  bottom: 16rem;
}
.circles span:nth-child(3){
  bottom: 14.5rem;
}
.circles span:nth-child(4){
  bottom: 13rem;
}
.circles span:nth-child(5){
  bottom: 11.5rem;
}
.circlesSmall span{
  position: absolute;
  font-size: 5rem;
  color: #39393B;
}
.circlesSmall span:nth-child(1){
  bottom: 11.5rem;
  left: 8rem;
}
.circlesSmall span:nth-child(2){
  bottom: 10rem;
  left: 8rem;
}
.circlesSmall span:nth-child(3){
  bottom: 2rem;
  left: 5rem;
}
.empresas{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 3rem;
}
.empresasRow{
  display: inline;
  font-size: 2rem;
}
.empresasLogo{
  width: 6rem;
  height: 2rem;
  margin-left: 4rem;
  position: relative;
  right: 2rem;
}
.movieRowLeft{
  position: relative;
  left: 27rem;
}
.movieRowRight{
  position: relative;
  right: 27rem;
}